<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <!-- Navbar content -->
    <img id="logo_thumb" src="../../../assets/images/logo 200x100.jpg">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/home" class="nav-link">
            <i class="fas fa-lg fa-laptop-house fa-2x"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a href="/active-surveys" class="nav-link">
            <i class="fas fa-list-alt fa-2x"></i> Active Surveys
          </a>
        </li>
        <li class="nav-item">
          <a href="/create-survey" class="nav-link">
            <i class="fas fa-plus-circle fa-2x"></i> Create Survey
          </a>
        </li>
        <li class="nav-item">
          <a href="login" class="nav-link">
            <i class="fas fa-sign-in-alt fa-2x"></i> Login
          </a>
        </li>
      </ul>
    </div>
    

  
    
  </nav>
  