<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <!--<a class="navbar-brand" href="/"> <i class="far fa-comment-dots"></i> Survey </a>-->
  <img class="img-fluid" src="../../../assets/images/favicon-96x96.png" style="max-height: 40px;">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">

      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link" routerLink="/home"> HOME </a>
      </li>

      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link" routerLink="/about"> ABOUT </a>
      </li>
      <!--
      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link" routerLink="/contact" id="contact"> CONTACT </a>
      </li>-->

      <li class="nav-item" routerLinkActive="['active']">
        <a routerLink="/login" class="nav-link" id="login">LOGIN</a>
      </li>
    </ul>

  </div>
</nav>
