<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <!--<a class="navbar-brand" href="/"> <i class="far fa-comment-dots"></i> Survey </a>-->
  <img class="img-fluid" src="../../../assets/images/favicon-96x96.png">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link fa-lg" routerLink="home"> Home </a>
      </li>

      <li class="nav-item" routerLinkActive="['active']" *ngIf="isLoggedIn">
        <a class="nav-link fa-lg" routerLink="surveys"> Surveys </a>
      </li>

      <li class="nav-item" routerLinkActive="['active']" *ngIf="isLoggedIn">
        <a class="nav-link fa-lg" routerLink="create"> Create Survey </a>
      </li>

      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link fa-lg" routerLink="about"> About </a>
      </li>

    
      <!--
      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link" routerLink="/contact" id="contact"> CONTACT </a>
      </li>-->
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link fa-lg" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link fa-lg" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link fa-lg" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link fa-lg" (click)="logout()">LogOut</a>
      </li>
    </ul>

  </div>
</nav>
