<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="/"> <i class="far fa-comment-dots"></i> Survey </a>-->
  <img class="img-fluid" src="../../../assets/images/favicon-96x96.png">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" (click)="isShown = !isShown" [attr.aria-expanded]="isShown"
   aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link fa-lg" routerLink="home"><i class="fas fa-lg fa-laptop-house"></i> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" routerLinkActive="['active']" *ngIf="isLoggedIn">
        <a class="nav-link fa-lg" routerLink="surveys"> Surveys </a>
      </li>

      <li class="nav-item" routerLinkActive="['active']" *ngIf="isLoggedIn">
        <a class="nav-link fa-lg" routerLink="create"> <i class="fas fa-plus"></i>
          Create Survey </a>
      </li>

      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link fa-lg" routerLink="about"><i class="fas fa-info-circle"></i> About </a>
      </li>

    
      <!--
      <li class="nav-item" routerLinkActive="['active']">
        <a class="nav-link" routerLink="/contact" id="contact"> CONTACT </a>
      </li>-->
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link fa-lg" routerLink="register"><i class="fas fa-user-plus"></i>
          Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link fa-lg" routerLink="login"><i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link fa-lg" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link fa-lg" (click)="logout()"><i class="fas fa-lg fa-sign-out-alt"></i> LogOut</a>
      </li>
    </ul>

  </div>
</nav>
