<div class="container">
    <!-- Message Area 
        <div class="alert alert-danger">
        </div>-->

    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Please Login</h1>
            <form autocomplete="off">                
                <div class="mb-3">
                    <label for="username" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                        placeholder="Enter email address">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                    <p>or <a href="/home/register">Register Here</a></p>
                </div>
                <div class="btn-block">
                    <button type="submit" class="btn btn-success me-2">Submit</button>
                    <a class="btn btn-warning" href="/" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</div>