<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="">{{currentUser.username}}'s Survey List</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let survey of surveys; let i = index" [class.active]="i == currentIndex"
          (click)="setCurrentSurvey(survey, i)">
          {{ survey.title}}
        </li>
      </ul>
    </div>
  
  <div class="col-md-4">
    <div *ngIf="currentSurvey">
      <h4>Survey Header</h4>
      <div>
        <label><strong>Title:</strong></label>
        {{ currentSurvey.title}}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentSurvey.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentSurvey.published ? "Published" : "Pending" }}
      </div>


      <a class="btn btn-secondary" routerLink="{{currentSurvey.id}}/edit">
        Edit
      </a>



    </div>

    <div *ngIf="!currentSurvey">
      <br />
      <h5>Please click on a survey</h5>
    </div>
  </div>
</div>
</div>