/*
Team Name - Quick Survey
Group no - 2 
Student Id's - 300566849, 301211038, 301153525, 301072907, 301159366
Purpose - Stylesheet for survey-edit component
*/
.edit-form {
    margin-top: 20px !important;
    margin-left: 20px !important;
    width: 50%
}

.btn {
    float: left;
    margin-right: 20px;
    margin-left: 0;
}