<div class="container">
  <div class="jumbotron">
    <h1>Survey List</h1>
    <p>
      list of all active surveys, visible to anyone!!
    </p>
  </div>

  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success" [disabled]="btnDisable" (click)="takeSurvey()"><i class="fas fa-user-edit"></i> Take Survey</button>
      <button class="btn btn-success m-1"  (click)="export()"><i class="fas fa-file-export"></i> Export Results Report</button>
    </div>
      <!--<ul class="list-group">
        <li class="list-group-item" *ngFor="let survey of surveys; let i = index" [class.active]="i == currentIndex"
          (click)="setCurrentSurvey(survey, i)">
          {{ survey.title}}
        </li>
      </ul>-->
  </div>
  <table id = "exportData" class="table">
    <thead>
      <tr class="table-primary">
        <th>#</th>
        <th>Title</th>
        <th>Description</th>
        <th>Questions</th>
        <th>Responses</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveys; let i = index;" [class.active]="i == currentIndex"
        (click)="setCurrentSurvey(survey, i)">
        <td>{{ i + 1 }}</td>
        <td> {{ survey.title}} </td>
        <td> {{ survey.description}} </td>
        <td>3</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>

<!--
<div class="container">
    <h2 class="display-2 text-center p-3"> Welcome to Quick Survey </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../../assets/images/count.jpg" style="height: 225px; width: 100%; display: block;"/>
                <h3> Total </h3>
                <div class="card-body">
                    <h4 class="card-text"> Total number of surveys created </h4>
                    <p>12</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../../assets/images/count.jpg" style="height: 225px; width: 100%; display: block;"/>
               <h3> Total </h3>
                <div class="card-body">
                    <h4 class="card-text"> Current active number of surveys </h4>
                    <p>3</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">15 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../../assets/images/count.jpg" style="height: 225px; width: 100%; display: block;"/>
               <h3> Total </h3>
                <div class="card-body">
                    <h4 class="card-text"> Current inactive surveys </h4>
                    <p>9</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->