<div class="container">
    <div *ngIf="currentSurvey.id" class="edit-form">

        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h1 class="card-title">Title: {{currentSurvey.title}}</h1>
                <h2 class="card-text">Description: {{currentSurvey.description}}</h2>
                <a href="/home" class="btn btn-danger">Back to Survey List</a>
            </div>
        </div>

        <div class="row" *ngFor="let question of questions; let i = index">
            <div [ngSwitch]="question.questionType">
                <label class="qHeading">{{i+1}}) {{question.questionText}} </label>
                <div class="col-md-10" *ngSwitchCase="'1'">
                    <!--<p type="text" class="form-control" id="questionText" name="questionText">
                        <strong> </strong>
                    </p>-->
                    <input class="form-control" id="answerText{{i}}" [(ngModel)]="answerText[i]"
                        placeholder="provide your response" name="answerText" />
                </div>
                <div class="col-md-10" *ngSwitchCase="'2'">
                    <div class="form-check" >
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            True
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            False
                        </label>
                    </div>
                </div>
                <div class="col-md-10" *ngSwitchCase="'3'">

                </div>
                <div class="form-group" *ngSwitchDefault>
                    <div>Oops</div>
                </div>
            </div>
        </div>

        <div class="form-group" style="float: right;">
            <button type="submit" class="btn btn-success btn-block m-0" (click)="onSubmit()" style="float:right;">
                Submit Survey
            </button>
        </div>

        <div *ngIf="!currentSurvey.id">
            <br />
            <p>Cannot access this Survey...</p>
        </div>
    </div>
</div>