/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);*/
  font-family: Helvetica, sans-serif;
}

footer {
  height: 24px;
  width: 24px;
  text-align: center;
  padding: 4px;
}

#logo_thumb {
  margin-left: 20px;
  border-radius: 10px;
  height: 75 px;
  width: 150px;
}

.bg-dark {
  background-color: #245e97 !important;
}

.btn-primary {
  margin-left: 30px !important;
}
.jumbotron {
  padding: 20px 0px;
  margin-top: 20px;
  border-radius: 25px;
}

#login {
  border: white;
  border-style: groove;
}

.container {
  max-width: 1140px;
  }
