<!--<app-base-page></app-base-page>-->
<div class="container">
    <h2 class="display-2 text-center p-3"> Welcome back, Jhon! </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../../assets/images/count.jpg" style="height: 225px; width: 100%; display: block;"/>
                <!--<h3> Total </h3>-->
                <div class="card-body">
                    <h4 class="card-text"> Total number of surveys created </h4>
                    <p>12</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../../assets/images/count.jpg" style="height: 225px; width: 100%; display: block;"/>
                <!--<h3> Total </h3>-->
                <div class="card-body">
                    <h4 class="card-text"> Current active number of surveys </h4>
                    <p>3</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">15 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="../../../assets/images/count.jpg" style="height: 225px; width: 100%; display: block;"/>
                <!--<h3> Total </h3>-->
                <div class="card-body">
                    <h4 class="card-text"> Current inactive surveys </h4>
                    <p>9</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>