<div class="container">
  <!--style="width: 500px; margin: auto;"-->
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="survey.title" name="title" />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" id="description" required [(ngModel)]="survey.description" name="description" />
      </div>

      <button (click)="createSurvey()" routerLink="/questions" class="btn btn-success mt-10">Add Questions</button>
      </div>
     </div>

</div>