<app-base-page></app-base-page>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <thead class="thead-dark">
                    <tr>                   
                        <th class="text-center col-1">#</th>
                        <th class="text-center col-3">Survey Name</th>
                        <th class="text-center col-2">Number of Questions</th>
                        <th class="text-center col-2">Number of Submissions</th>
                        <th class="text-center col-2">Invite Link</th>                  
                    </tr>
                </thead>

                <!-- Repeatable Template Row -->
                    <tr >
                       
                            <td class="text-center col-1"></td>
                            <td class="text-center col-3"></td>
                            <td class="text-center col-2"></td>                
                            <td class="text-center col-2"></td>
                            <td class="text-center col-2"></td>   
                    </tr>

            </table>
        </div>
    </div>
  </main>