<main class="container-fluid">
    <div class="col-md-12">
        
        <div class="m-4">
            <a class="btn btn-primary btn-sm mb-2" href="/create-survey" role="button">
                <i class="fas fa-plus-circle"></i>Add Survey
            </a>
            <p class="display-7 text-center">Active Survey</p>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center">Survey</th>
              <th scope="col" class="text-center">Username</th>
              <th scope="col" class="text-center">Date</th>
              <th scope="col" class="text-center">Questions</th>
              <th scope="col" class="text-center">Edit</th>
              <th scope="col" class="text-center">Delete</th>
        
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
    </div>
  </main>
