<main class="container">
    <!-- Message Area -->

    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Please Register</h1>
            <form method="POST" autocomplete="off">
                <div class="mb-3">
                    <label for="first_name">First Name: </label>
                    <input type="text" class="form-control"
                    name="first_name" placeholder="Enter firstname"
                    id="first_name" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="last_name">Last Name: </label>
                    <input type="text" class="form-control"
                    name="last_name" placeholder="Enter Display Name"
                    id="last_name" required>
                </div>

                
                <div class="mb-3">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter Email Address"
                    id="email" required>
                </div>

                <div class="mb-3">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </div>

                <br>
                <div class="btn-block">
                    <button type="submit" class="btn btn-success me-2">Submit</button>
                    <a class="btn btn-warning" href="/" role="button">Cancel</a>
                </div>

            </form>
        </div>
    </div>


</main>
