<div class="row" 
    *ngFor = "let i of questionArray; let index = index"
    [class.active]="i == currentIndex">
        
    <h4>Question:</h4>
  <div class="col-md-5">
    <input class="form-control" [(ngModel)]="question.questionText" required placeholder="Enter your question" name="question"/>
  </div>

  <div class="col-md-2">
    <select class="custom-select p-2"  [(ngModel)]="question.questionType" (change)="onChange(customSelect.value)" #customSelect >
      <option selected [value]="0">Type of question</option>
      <option [value]="1">Text Field</option>
      <option [value]="2">Multiple Choice</option>
      <option [value]="3">Checkboxes</option>
      <option [value]="4">Comment Box</option>
      <option [value]="5">Star Rating</option>
    </select>
  </div>

  <div class="col-md-5">
    <button type="submit" class="btn btn-primary my-1" (click)="saveQuestion()">Save</button>
    <a class="p-1" (click)="addQuestion()"><i class="far fa-plus-square fa-2x"></i></a> 
    <a class="p-1" (click)="removeQuestion()"> <i class="far fa-minus-square fa-2x"></i></a>
  </div>
</div>

<div class="row" *ngIf="isShownText ">
  <div class="col-md-4">
    <input class="form-control" id="answer" placeholder="Text Response" required name="answer" />
  </div>
</div>
<div  *ngFor = "let i of radioArray">
<div class="row" *ngIf="isShownRadioButn">
  <div class="col-md-4">
    <div class="form-check">
      <label class="form-check-label" for="gridRadios1">
        <input class="form-control" placeholder="Type Answer" required name="answer" size="50" />
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <a class="p-1" (click)="addRadio()"><i class="far fa-plus-square fa-2x"></i></a> 
    <a class="p-1" (click)="removeRadio()"> <i class="far fa-minus-square fa-2x"></i></a>
  </div>
</div>
</div>

<div  *ngFor = "let i of checkArray">
  <div class="row" *ngIf="isShownCheckBox">
    <div class="col-md-5">
      <div class="form-check">
        <label class="form-check-label" for="gridCheck1">
          <input class="form-control" placeholder="Type Answer" required name="answer" size="50" />
        </label>
      </div>
    </div>
    <div class="col-md-2">
      <a class="p-1" (click)="addCheck()"><i class="far fa-plus-square fa-2x"></i></a> 
      <a class="p-1" (click)="removeCheck()"> <i class="far fa-minus-square fa-2x"></i></a>
    </div>
  </div>
</div>

<div class="row" *ngIf="isShownCommentBox">
  <div class="col-md-5">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>

<div class="row" *ngIf="isShownStarRating">
  <app-star-rating></app-star-rating>
</div>


