<div class="container">
        <div class="row">
            <form class="form" formGroup="myform">
    <div class="mb-4">
    <label for="question">Question</label>
    <input type="text" id="question" class="form-check" placeholder="Add your question here"
    formControlName="question" required>
    </div>

    <div class="form-group mb-4">
        <label for="answer">Answer</label>
        <input type="tex"  placeholder="Add your answer here" class="form-check" 
          id="terms" formControlName="Answer" />
    </div> <br>

    <div class="btn-block">
        <a class="btn btn-success" href="/active-surveys" role="button">
            <i class="fas fa-edit"></i>Submit </a>
        <a class="btn btn-warning" href="/" role="button">
            <i class="fas fa-undo"></i>Cancel</a>
    </div>

</form>
</div>
